@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


body{
    font-family: 'Poppins', serif;
    background-image: url("..images/concrete_seamless.png");
    background-color: #f1f1f1;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.nav_links {
    display: flex;
    list-style: none;
}


.nav_links a:visited{
    color: blue;
}

.card > header {
    background: #288088;
    border: 2px solid #45ADAD;
    padding: 20px 0;
    border-radius: 50px 50px 0 0;
}


.card {
    display: flex;
    border-radius: 50px 50px 0 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    size: 450px;
}

.pricing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    size: 450px;
}

.gallery img {
    border: 10px solid #50C7C7;
    margin: 10px;
    width: 300px;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



@media (min-width: 900px) {

    body{
        font-family: 'Poppins', serif;
        background-image: url("..images/concrete_seamless.png");
        background-color: #f1f1f1;
    }

    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }

    .nav_links {
        display: flex;
        list-style: none;
    }


    .nav_links a:visited{
        color: blue;
    }

    .card > header {
        background: #288088;
        border: 2px solid #45ADAD;
        padding: 20px 0;
        border-radius: 50px 50px 0 0;
        width: 400px;
    }


    .card {
        display: flex;
        border-radius: 50px 50px 0 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        size: 275px;
    }

    .pricing {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        size: 275px;
    }

    .gallery img {
        border: 10px solid #50C7C7;
        margin: 10px;
        width: 300px;
    }

    .gallery{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

}

@media print {
    @page {
      size: portrait; /* Set the page size to portrait orientation */
    }


    body{
        font-family: Arial, Helvetica;
        background-color: #f1f1f1;
    }

    .logo{
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .nav_links {
        display: flex;
        list-style: none;
        justify-content: center;
    }

    .card > header {
        background: #288088;
        border: 2px solid #45ADAD;
        padding: 20px 0;
        border-radius: 50px 50px 0 0;
        width: 400px;
    }

    .card {
        display: flex;
        border: 2px solid #45ADDD;
        border-radius: 50px 50px 0 0;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-basis: 325px;
    }

    .pricing {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        size: 275px;
    }

    .gallery{
        display: none;
    }

}




#logo {
    width: 25px;
    opacity: 0;
    animation: logoAnimation 5s ease-in-out forwards;
  }

  @keyframes logoAnimation {
    0% {
      width: 25px;
      opacity: 0;
    }
    100% {
      width: 475px;
      opacity: 1;
    }
  }




  @media (prefers-reduced-motion: reduce) {
    #logo {
      animation: none;
      width: 475px;
      opacity: 1;
    }
  }
























